body {
  background-color: #404040;
}

.featured {
  background-color: #024e76;
  border: #fce138 ;
  border-style: solid;
  border-radius: 50px;
}


.hero {
  /* background-position: 80%; */
  border: #fce138;
  border-style: solid;
  border-radius: 50px;
}

.banner{
  background-image: url("./flipped-hero-image.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 30vh;
}